@font-face {
  font-family: "pokemon-font";
  src: url("https://cdn.jsdelivr.net/npm/pokemon-font@1.8.1/fonts/pokemon-font.ttf");
}

.summary {
  display: flex;
  flex-wrap: wrap;
  padding-left: 11%;
}

.pokemon-block {
  flex: 1 0 21%;
  margin: 20px 0;
}

.pokemon {
  background-color: #FBEAFF;
  transition: 1s;
  width: 150px;
  height: 200px;
  text-align: center;
  border: 2px solid #aceacf;
  border-radius: 20px;
}

.pokemon:hover {
  background-color: red;
  width: 160px;
  height: 210px;
}

.pokemon-image {
  height: 50%;
  padding-top:30%;
}

.pokemon-name {
  height: 20%;
  color: black;
  font-family: "pokemon-font", sans-serif;
  font-size: 13px;
}



ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}


body {
  background: linear-gradient(150deg,#845EC2, #D65DB1, #FF6F91);
}